@CHARSET "UTF-8";
div #container {
	width: 100%;
}
header{
	display: block;
	margin: auto;
	margin-bottom: 1%;
	width: 90%;
	height: 100px;
	background-color: #336667;
}
#main-content{
	display: block;
	margin: auto;
	margin-bottom: 1%;
	width: 80%;
	height: 200px;
	background-color: #007f01;
}
footer{	
	display: block;
	margin: auto;
	margin-bottom: 1%;
	width: 80%;

}
#left-footer{
	display: inline-block;
	margin: auto;
	margin-bottom: 1%;
	float: left;
	background-color: #810081;
	width: 49.5%;
	height: 25px;
}
#right-footer{
	display: inline-block;
	margin: auto;
	margin-bottom: 1%;
	float: right;
	background-color: #0200ff;
	width: 49.5%;
	height: 25px;
}