@CHARSET "UTF-8";
#container {
	width: 90%;
	margin-left: 5em;
	font-family: Arial, Helvetica, sans-serif;
	display: inline-block;
	box-sizing: box-border;
}
header {
	background-color: #996600;
	width: 90%;
	height: 10em;
	color: white;
	text-align: justify;
	
}
h1{
	font-size: 1.3em;
	font-weight: bold;
	padding-top: 0.5em;
	padding-left: 0.7em;
}

h2{
	font-size: 1.4em;
	font-weight: bold;
	padding-top: 0.5em;
	padding-left: 0.7em;
}
 p{
	padding-top: 0.9em;
	padding-left: 3em;
	padding-right: 3em;
}
#right-side {
	background-color: #602020;
	color: white;
	float: left;
	width: 15%;
	height: 30em;
}
#right-side h3{
 	font-size: 1.4em;
 	font-weight: bold;
 	text-align: center;
 	padding-top: 1em;
}
#right-side nav {
	background-color: rgba(196,137,118,0.3);
	width: 90%;
}
#right-side ul{
    list-style-type: circle;
    padding-left: 3em;
    padding-top: 1.5em;
}
#right-side li{
	font-size: 0.8em;
	padding-bottom: 3em;	
}
article {
	background-color: #ffffcc;
	width: 60%;
	height: 30em;
	float: left;
	
}
#left-side{
 	background-color: #87874b;
 	width: 15%;
	height: 30em;
	float: left;
    
 }
 #left-side h3{
 	height: 3em;
 	font-size: 1.3em;
 	font-weight: bold;
 	background-color: rgba(156,153,112,0.6 );
 	text-align: right;
 	padding-top: 0.5em;
 	padding-right: 0.5em;
 	padding-left: 0.9em;
	
 }
footer {
	display: inline-block;
	height: 3em;
 	background-color: #656565;
	width: 75%;
	text-align: center;
 }