@CHARSET "UTF-8";
div #container {
	width: 100%;
}
header{
	display: block;
	margin: 0 auto;
	margin-bottom: 1%;
	width: 90%;
	height: 2em;
	background-color: #000080;
}
#left{
	display: block;
	margin-left: 5%;
	margin-bottom: 1%;
	float: left;
	width: 19%;
	height: 20em;
	background-color:  #810081;
}
#right{
	display: inline-block;
	margin-right: 5%;
	margin-bottom: 1%;
	float: right;
	width: 19%;
	height: 20em;
	background-color: #ff0000;
}
#main-content{
	display: inline-block;
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 1%;
	width: 50%;
	height: 20em;
	background-color: #007f01;
}
footer{	
	display: inline-block;
	margin-left: 5%;
	background-color: #0200ff;
	width: 90%;
	height: 2em;

}
